.reklama {
  background-color: white; /* Статичный белый фон */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

/* Анимация текста с градиентом */
@keyframes gradientAnimationTEXTREK1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background: linear-gradient(90deg, #ff007f, #ff4500, #ffd700, #00ff7f);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimationTEXTREK1 3s infinite;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Пульсирующий эффект для иконок */
@keyframes pulseREKLAMA{
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.animatepulseREKLAMA {
  animation: pulseREKLAMA 1.5s infinite;
}
